{% extends 'base.html' %}

{% block content %}

 <!-- effects -->


<div class="jumbotron">
  <div class="row">

        <!--primary column-->
          <div class="col-md-8"    style="width:-webkit-fill-available;" >
            <div class="box-container">
                <div class="canvas" >
                      <div class="row">
                          {% for x in img1 %}
                           <center>
                                <img src="{{ x.file.url }}" class="img-responsive" id="download">
                           </center>
                           {% endfor %}
                      </div>
                </div>
                    <div class="container1">
                         {%for effect in effects %}
                        <button class="btn" type="submit" title="{{effect}}" onclick="location.href='/{{effect}}/{{ pk }}';" >
                                <img src="/static/image/thumbnails/{{effect}}.PNG">
                        </button>
                            {% endfor %}
                        <button type="submit"  class="btn" style="float: right;">

                            {%for effect in effects %}
                                <a href="/delete/{{ pk }}">
                               {% endfor %}


                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                        <button class="btn" style="float: right; margin-left: 3px; margin-right: 3px;">

                            {% for x in img1 %}
                                <a href="{{ x.file.url }}" download>
                           {% endfor %}

                            <span class="glyphicon glyphicon-download-alt" >
                            </span>
                        </button>
                  </div>
            </div>
          </div>

     </div>
</div>

<style>

.canvas {
    border-radius: 8px;
    box-shadow: inset 0 0 10px #000000;
    background: darkgray;
    padding-top: 50px;
    padding-bottom: 50px;
}

#box {

    width:auto;
    height: 16em;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:#ccc;
    padding:10px;
}

.container1 {
  position: relative;
  width: 100%;
  top: 12px;
}
.container1 img {
  width: 100%;
  height: auto;
}

.container1 .btn {
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 4%;
  height:auto%;
}
.container1 .btn:hover {
  background-color: black;
}
</style>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

function Download() {

    var download = document.getElementById("download").src;
    var node = document.createElement('a');

        // Set the href property.
        node.href = download;
        //node.download = download;

        // Append the anchor element to the body.
        document.getElementById("save").appendChild(node);

}

</script>


{% endblock %}